body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  text-align: center;
  background-color: #007bff;
  color: #fff;
  padding: 20px;
  margin-bottom: 20px;
}

main {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  margin-bottom: 20px;
}

label {
  margin-right: 10px;
  line-height: 32px;
}

#newTask {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
}

#submitTask {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

#taskList {
  list-style: none;
  padding: 0;
  margin: 0;
}

#taskList li {
  padding: 15px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.important {
  background-color: #eee;
}
